body {
    color: #999999;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    line-height: 1.80857;
}

/* Navigation */

.navbar{
    padding: 25px;
    background-color: #333333;

}
.navbar-link{
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 14px;
    position: static;
}
.navbar a{
    padding: 30px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar .navbar-link{
    text-align: right;
    right: 40%;
    margin: 0 auto;
    border-radius: 0;
    font-size: 20px;
    
}

h1, h2, h3, h4, h5{
    font-weight: normal;
    margin: 0;
    padding: 0 0 10px 0;
    position: relative;
    line-height: 120%;
    color: #333333;
}
h1{
    font-size: 26px;
    text-align: center;
    color: #333333;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 40px;
    color: white;
}
h4{
    font-size: 24px;
    color: #333333;
    left: auto;
}
h5 {
font-size: 24px;
color: #ffffff;
}

h1 a,
h2 a, 
h3 a
h4 a
h5 a{
    color: #212121;
    text-decoration: none;
}

/*-- Section and classes of H2--*/

.main-banner{
    height: 100%;
    width: 100%;
    position: relative;
    display: table;
    text-align: center;
}
.main-banner::after{
    position: absolute;
    background-color: #000000;
}
.heading {
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    padding: 15%;
}
.heading h1 {
    padding: 60px;
    color: #ffffff;
    font-weight: 700;
    font-size: 62px;
    text-transform: uppercase;
}
.heading p{
    font-size: 18px;
    padding: 0;
}

.section {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 77px 0;
}
.section.wb{
    background-color: #ffffff;
}
.container-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
   
}

.section.db{
    background-color: #111111;
}
.first-section {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 10em 0 13em;
}

.first-section h2 {
    color: #ffffff;
    font-size: 68px;
    font-weight: 300;
    text-transform: capitalize;
    display: block;
    margin: 0;
    padding: 0 0 30px;
    position: relative;
}

.right-box-pro img{
	position: relative;
    z-index: 2;
    right: 5%;
    width: 80%;
    height: 70%;
    bottom: 40px;
}
.right-box-pro::before {
    content: "";
    background: url(country-quilt-dark.png);
    width: 35%;
    height: 80%;
    position: absolute;
    bottom: 100px;
    right: 10%;
    z-index: 0;
}
.services-inner-box{
	padding: 10px;
    margin-bottom: 30px;
}
.block{
    background-color: #ffffff;
    width: 60%;
    font-size: 17px;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
.block-2{
    width: 50%;
    font-size: 17px;
    text-align: left;
    background-color:#ffffff;
}
.ser-icon{
	width: 90px;
	height: 90px;
	text-align: center;
	line-height: 90px;
}

.services-inner-box h2{
	font-size: 22px;
    font-weight: 600px;
    color: #333333;
}
.message-box h2{
font-size: 38px;
font-weight: 300;
margin: 0;
padding: 10px 0 0;
left: 50px;
}
.message-box p{
    font-size: 20px;
}
/*-- End H2 --*/

/*--H3--*/

.section.lb{
    background-color: #f2f3f5;
}
.S {
    font-size: 40px;
    color: #333333;
}
.p3{
    font-size: 20px;
    color: #333333;
}

.section.wb p{
    position: relative;
    margin: 50px;

}
.section-title h3 {

    font-size: 38px;
    font-weight: 500;
    line-height: 62px;
    margin: 0 0 25px;
    padding: 0;
    text-transform: none;
}
/*--End H3*/

/*--h4--*/
.lio {
font-size: 40px;
margin-bottom: -30px;
left: auto;
margin-block-start: 0;
margin-block-end: 0;
}

.section.lb3 {
 display: block;
 position: relative;
 margin-bottom: 60px;
 left: 0;
}

.img-fluid {
   
}
img {
    width: 35%;
    height: 40%;
   padding: 30px;
}
/*------------------
      End h4
--------------------*/      

/*-------------------
        h5
--------------------*/
#contact {
    background: url(bg.png) no-repeat center center #333333;
} 
#contact p {
    color: #ffffff;
    font-weight: 400;
    line-height: 33px;
    margin: 0;
}   
.section-title h5{
    font-size: 38px;
    font-weight: 500;
    text-transform: none;
}
.section-title {
 display: block;
 position: relative;
 margin-bottom: 60px;
 left: 590px;
}    
.contact-section {
    background-size: cover;
    padding: 40px 0;
}

.contact-form {
    background-color: #ffffff;
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111111;
    padding: 20px 40px;
    outline: none;
    color: #dddddd;
    transition: 0.5s;
}
textarea.contact-form-text {
    resize: none;
    height: 120px;
}
.contact-form-btn {
    float: right;
    border: 0;
    background: #34495e;
    color: #ffffff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.contact-form-btn:hover{
    background: #2980b9;
}
/*------------------
      End h5
--------------------*/ 
  
/*------------------
      footer
--------------------*/ 

.footer-bottom {
background: black;
text-align: center;
padding: 30px;
}
.socials {
    display: flex;
    width: 25%;
    height: 30%;
    padding: 30px;

}